/**
* @filename : style.css
* @author : 문태호 (mun05170@gmail.com)
* @description : 네이버 클론 css
*/

/* 초기화, 영역 잡기 */
* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

body {
  width: 460px;
  margin: auto;
  font-family: Dotum, 돋움, Helvetica, sans-serif;
  font-size: 15px;
  background-color: #f5f6f7;
}

select {
  font-weight: normal;
}

a {
  text-decoration: none;
}

/* 로고 */
header {
  margin-top: 40px;
  margin-bottom: 35px;
  width: 100%;
}

header > a {
  display: block;
  background-image: url("logo.png");
  background-size: 240px auto;
  background-repeat: no-repeat;
  width: 240px;
  height: 44px;
  margin: auto;
  text-indent: -10000px;
}

/* 인풋 묶음 설정 */
.join_box {
  width: 100%;
  margin-bottom: 30px;
}

/* 라벨 설정 */
label {
  cursor: pointer;
  font-weight: bold;
}

/* 입력박스 영역 */
.input_area {
  width: 100%;
  background-color: #fff;
  border: 1px solid #dadada;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 20px 0;
  position: relative;
}

/* 인풋 디자인 */
.input_box {
  margin-left: 10px;
  width: 70%;
  border: none;
  cursor: pointer;
  height: 29px;
  line-height: 29px;
}

/* 이메일주소 디자인 */
.id_mail {
  color: #8e8e8e;
  margin-right: 12px;
}

/* pw lock 디자인 */
.pw_lock {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 13px;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 125px 75px;
  cursor: pointer;
}

.join_box .input_area:last-child .pw_lock {
  background-position: -27px 0;
}

/* 생년월일  */
.bir_area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bir_area .input_area {
  width: 31%;
}

/* select 영역 정리 */
.select_area {
  display: flex;
  justify-content: center;
}

select {
  cursor: pointer;
}

.bir_area .select_area select {
  width: 80%;
  font-size: 14px;
  border: none;
}

/* 성별 */
.select_area .sel {
  width: 95%;
  font-size: 14px;
  border: none;
}

/* 이메일 (선택) 디자인 */
.mini {
  color: #8e8e8e;
  font-size: 13px;
  font-weight: normal;
}

/* 휴대전화 영역 간격 축소 */
form .join_box:nth-child(3) .input_area {
  margin: 5px 0;
}

/* 휴대전화번호 입력 라인 */
.phone_area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone_area .input_area {
  width: 69%;
}

.phone_area button {
  width: 28%;
  background-color: #03c75a;
  border: 1px solid rgba(0, 0, 0, 0.08);
  color: #fff;
  height: 50px;
  margin: 5px 0;
  font-size: 15px;
}

/* disable 처리 */
form .join_box:nth-child(3) .input_area:last-child {
  background-color: #f5f6f7;
}

/* 가입하기 버튼 */
.sub_btn {
  width: 100%;
  background-color: #03c75a;
  border: 1px solid rgba(0, 0, 0, 0.08);
  color: #fff;
  padding: 0;
  margin: 20px 0 40px 0;
  height: 50px;
  font-size: 18px;
}

/* footer */
footer {
  width: 100%;
  text-align: center;
  color: #dadada;
  padding-bottom: 50px;
}

footer a {
  color: #8e8e8e;
  font-size: 12px;
}

footer .copy {
  color: #8e8e8e;
  margin-top: 10px;
}
